In [1]:
import numpy as np
import scipy as sc
import pandas as pd
from sklearn import feature_extraction, linear_model
import re

In [15]:
data_train = pd.read_csv('salary-train.csv')
data_test = pd.read_csv('salary-test-mini.csv')

In [16]:
data_train.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355

In [17]:
data_test.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,We currently have a vacancy for an HR Project ...,Milton Keynes,contract,NaN
1,A Web developer opportunity has arisen with an...,Manchester,permanent,NaN

In [4]:
data_train.shape

(60000, 4)

In [7]:
# text data preprocess
for i in range(0, data_train.shape[0]):
    data_train['FullDescription'].loc[i] = data_train['FullDescription'][i].lower()
    data_train['FullDescription'].loc[i] = re.sub('[^a-zA-Z0-9]', ' ',
                                             data_train['FullDescription'][i])

/home/aleksey/projects/datascience/local/lib/python2.7/site-packages/pandas/core/indexing.py:117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [8]:
data_train.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,international sales manager london k ...,London,permanent,33000
1,an ideal opportunity for an individual that ha...,London,permanent,50000
2,online content and brand manager luxury reta...,South East London,permanent,40000
3,a great local marketleader is seeking a perman...,Dereham,permanent,22500
4,registered nurse rgn nursing home for young...,Sutton Coldfield,NaN,20355

In [49]:
vectorizer = feature_extraction.text.TfidfVectorizer(min_df = 5)

In [50]:
descr_tr = vectorizer.fit_transform(data_train['FullDescription'])
print descr_tr

  (0, 9617)	0.0449054466495
  (0, 20430)	0.0387030647254
  (0, 11731)	0.0249346223278
  (0, 18468)	0.0509414020602
  (0, 3355)	0.0278091590827
  (0, 7716)	0.0513051833898
  (0, 12180)	0.0197840505835
  (0, 22213)	0.0205236703974
  (0, 7329)	0.0710101653143
  (0, 2654)	0.0354550991754
  (0, 9938)	0.0566107268711
  (0, 22685)	0.0266986366618
  (0, 8489)	0.0632466213314
  (0, 11630)	0.0523254190822
  (0, 732)	0.0419559684286
  (0, 1241)	0.0276577675047
  (0, 19285)	0.0554741330938
  (0, 7101)	0.0463080490832
  (0, 22713)	0.0384211834903
  (0, 19385)	0.0623002560096
  (0, 8227)	0.0585299991619
  (0, 19519)	0.0400154636653
  (0, 11858)	0.054256797444
  (0, 5707)	0.0341651291677
  (0, 10070)	0.0304827750754
  :	:
  (59998, 12448)	0.0169587206196
  (59999, 379)	0.398778725969
  (59999, 17686)	0.309835384268
  (59999, 13274)	0.292440912765
  (59999, 3967)	0.288381590769
  (59999, 5278)	0.246238933581
  (59999, 3339)	0.210614124688
  (59999, 3652)	0.225946873194
  (59999, 11913)	0.174027009866
  (59999, 1616)	0.287928494532
  (59999, 1414)	0.129360271699
  (59999, 18709)	0.18927800153
  (59999, 2401)	0.155668812317
  (59999, 13594)	0.265784881969
  (59999, 22609)	0.0645255788158
  (59999, 9857)	0.167486057469
  (59999, 1973)	0.181442475369
  (59999, 9411)	0.173231559789
  (59999, 14786)	0.127543093623
  (59999, 17361)	0.0842917447199
  (59999, 20904)	0.163458245498
  (59999, 22455)	0.0502825037622
  (59999, 2228)	0.0497913035477
  (59999, 20848)	0.0866432408222
  (59999, 1274)	0.0432898589716

In [32]:
data_train['LocationNormalized'].fillna('nan', inplace=True)
data_train['ContractTime'].fillna('nan', inplace=True)

In [33]:
enc = feature_extraction.DictVectorizer()
X_train_categ = enc.fit_transform(data_train[['LocationNormalized', 'ContractTime']].to_dict('records'))
X_test_categ = enc.transform(data_test[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [34]:
print X_train_categ

  (0, 2)	1.0
  (0, 957)	1.0
  (1, 2)	1.0
  (1, 957)	1.0
  (2, 2)	1.0
  (2, 1392)	1.0
  (3, 2)	1.0
  (3, 471)	1.0
  (4, 1)	1.0
  (4, 1495)	1.0
  (5, 1)	1.0
  (5, 422)	1.0
  (6, 2)	1.0
  (6, 1575)	1.0
  (7, 2)	1.0
  (7, 224)	1.0
  (8, 2)	1.0
  (8, 309)	1.0
  (9, 2)	1.0
  (9, 1392)	1.0
  (10, 0)	1.0
  (10, 86)	1.0
  (11, 2)	1.0
  (11, 639)	1.0
  (12, 2)	1.0
  :	:
  (59987, 1411)	1.0
  (59988, 1)	1.0
  (59988, 335)	1.0
  (59989, 2)	1.0
  (59989, 899)	1.0
  (59990, 2)	1.0
  (59990, 44)	1.0
  (59991, 2)	1.0
  (59991, 1665)	1.0
  (59992, 0)	1.0
  (59992, 957)	1.0
  (59993, 1)	1.0
  (59993, 957)	1.0
  (59994, 1)	1.0
  (59994, 679)	1.0
  (59995, 0)	1.0
  (59995, 1691)	1.0
  (59996, 2)	1.0
  (59996, 986)	1.0
  (59997, 1)	1.0
  (59997, 78)	1.0
  (59998, 2)	1.0
  (59998, 1531)	1.0
  (59999, 1)	1.0
  (59999, 957)	1.0

In [51]:
X_train = sc.sparse.hstack((descr_tr, X_train_categ))
print X_train

  (0, 9617)	0.0449054466495
  (0, 20430)	0.0387030647254
  (0, 11731)	0.0249346223278
  (0, 18468)	0.0509414020602
  (0, 3355)	0.0278091590827
  (0, 7716)	0.0513051833898
  (0, 12180)	0.0197840505835
  (0, 22213)	0.0205236703974
  (0, 7329)	0.0710101653143
  (0, 2654)	0.0354550991754
  (0, 9938)	0.0566107268711
  (0, 22685)	0.0266986366618
  (0, 8489)	0.0632466213314
  (0, 11630)	0.0523254190822
  (0, 732)	0.0419559684286
  (0, 1241)	0.0276577675047
  (0, 19285)	0.0554741330938
  (0, 7101)	0.0463080490832
  (0, 22713)	0.0384211834903
  (0, 19385)	0.0623002560096
  (0, 8227)	0.0585299991619
  (0, 19519)	0.0400154636653
  (0, 11858)	0.054256797444
  (0, 5707)	0.0341651291677
  (0, 10070)	0.0304827750754
  :	:
  (59987, 24290)	1.0
  (59988, 22880)	1.0
  (59988, 23214)	1.0
  (59989, 22881)	1.0
  (59989, 23778)	1.0
  (59990, 22881)	1.0
  (59990, 22923)	1.0
  (59991, 22881)	1.0
  (59991, 24544)	1.0
  (59992, 22879)	1.0
  (59992, 23836)	1.0
  (59993, 22880)	1.0
  (59993, 23836)	1.0
  (59994, 22880)	1.0
  (59994, 23558)	1.0
  (59995, 22879)	1.0
  (59995, 24570)	1.0
  (59996, 22881)	1.0
  (59996, 23865)	1.0
  (59997, 22880)	1.0
  (59997, 22957)	1.0
  (59998, 22881)	1.0
  (59998, 24410)	1.0
  (59999, 22880)	1.0
  (59999, 23836)	1.0

In [52]:
# train Ridge classifier
clf = linear_model.Ridge(alpha=1)
clf.fit(X_train, data_train['SalaryNormalized'])

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [53]:
# test data preprocessing
data_test['FullDescription'] = data_test['FullDescription'].str.lower()
data_test['LocationNormalized'].fillna('nan', inplace=True)
data_test['ContractTime'].fillna('nan', inplace=True)

In [54]:
data_test.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,we currently have a vacancy for an hr project ...,Milton Keynes,contract,NaN
1,a web developer opportunity has arisen with an...,Manchester,permanent,NaN

In [55]:
X_desc = vectorizer.transform(data_test['FullDescription'])
X_test = sc.sparse.hstack((X_desc, X_test_categ))

In [56]:
values = clf.predict(X_test)

In [57]:
values

array([ 56521.03326273,  37211.49089278])

In [58]:
file = open('linreg.txt', 'wt')
file.write(str(values[0]) + ' ' + str(values[1]))
file.close()