In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [3]:
data = pd.read_csv('./data/titanic.csv', index_col='PassengerId')

In [4]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [58]:
# selecting features
select_data = data[['Pclass', 'Fare', 'Age', 'Sex', 'Survived']]
select_data['Sex_code'] = 0
select_data.loc[select_data['Sex'] == 'male', 'Sex_code'] = 1
select_data = select_data.drop('Sex', 1)
select_data.head()

/home/aleksey/projects/datascience/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

             Pclass     Fare  Age  Survived  Sex_code
PassengerId
1                 3   7.2500   22         0         1
2                 1  71.2833   38         1         0
3                 3   7.9250   26         1         0
4                 1  53.1000   35         1         0
5                 3   8.0500   35         0         1

In [59]:
sum(np.isnan(select_data['Age']))

177

In [61]:
# cleaning data frame
clean_data = select_data.dropna()

             Pclass     Fare  Age  Survived  Sex_code
PassengerId
1                 3   7.2500   22         0         1
2                 1  71.2833   38         1         0
3                 3   7.9250   26         1         0
4                 1  53.1000   35         1         0
5                 3   8.0500   35         0         1

In [64]:
# train Decision Tree Classifier
clf = DecisionTreeClassifier(random_state=241)
clf.fit(clean_data[['Pclass', 'Fare', 'Age', 'Sex_code']], clean_data['Survived'])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=241, splitter='best')

In [66]:
# Features importance
importances = clf.feature_importances_
importances

array([ 0.14000522,  0.30343647,  0.2560461 ,  0.30051221])

In [ ]:
# two most important features are 'Fare' and 'Sex'