In [165]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('titanic.csv', index_col='PassengerId')

data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [16]:
file = open(u'sex_counts.txt', 'wt')
file.write(str(data['Sex'].value_counts()[0]) + ' ' + str(data['Sex'].value_counts()[1]))
file.close()

In [42]:
# second task
surv = data[data['Survived'] == 1].shape[0]
dead = data[data['Survived'] == 0].shape[0]
surv_per = 100 * float(surv) / (float(surv) + float(dead))
file = open(u'survived.txt', 'wt')
file.write(str(surv_per))
file.close()

In [47]:
# third task
fclass_per = 100 * float(data[data['Pclass'] == 1].shape[0]) / float(data.shape[0])
fclass_per
file = open(u'fclass_per.txt', 'wt')
file.write(str(fclass_per))
file.close()

In [56]:
# fourth task
mean = np.mean(data['Age'])
median = np.nanmedian(data['Age'], )
file = open(u'age.txt', 'wt')
file.write(str(mean) + ' ' + str(median))
file.close()

In [177]:
# fifth task
file = open(u'correlation.txt', 'wt')
file.write(str(data[['SibSp', 'Parch']].corr()['Parch'][0]))
file.close()

In [131]:
# sixth task
w_names = data['Name'][data['Sex'] == 'female']

In [130]:
fnames = []
for i in w_names.index:
    if w_names[i].find('(') != -1:
        substring = w_names[i].split('(')
        substring_parts = substring[1].split(' ')[0]
        if substring_parts.find(')') != -1:
            fnames.append(substring_parts.split(')')[0])
        else:
            fnames.append(substring_parts)
    else:
        fnames.append(w_names[i].split(' ')[2])

In [171]:
names_fr = pd.DataFrame(fnames)[0].value_counts()
file = open(u'women.txt', 'wt')
file.write(str(names_fr.index[0]))
file.close()

In [176]:
data[['SibSp', 'Parch']].corr()['Parch'][0]

0.41483769862015263