In [59]:
import numpy as np
import pandas as pd
import scipy.stats

In [4]:
data = pd.read_csv('titanic.csv', index_col='PassengerId')

data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [16]:
file = open(u'sex_counts.txt', 'wt')
file.write(str(data['Sex'].value_counts()[0]) + ' ' + str(data['Sex'].value_counts()[1]))
file.close()

In [42]:
# second task
surv = data[data['Survived'] == 1].shape[0]
dead = data[data['Survived'] == 0].shape[0]
surv_per = 100 * float(surv) / (float(surv) + float(dead))
file = open(u'survived.txt', 'wt')
file.write(str(surv_per))
file.close()

In [47]:
# third task
fclass_per = 100 * float(data[data['Pclass'] == 1].shape[0]) / float(data.shape[0])
fclass_per
file = open(u'fclass_per.txt', 'wt')
file.write(str(fclass_per))
file.close()

In [56]:
# fourth task
mean = np.mean(data['Age'])
median = np.nanmedian(data['Age'], )
file = open(u'age.txt', 'wt')
file.write(str(mean) + ' ' + str(median))
file.close()

In [63]:
# fifth task
cor = scipy.stats.pearsonr(data['SibSp'], data['Parch'])
file = open(u'correlation.txt', 'wt')
file.write(str(100 * cor[0]))
file.close()

In [81]:
# sixth task
w_names = data['Name'][data['Sex'] == 'female']

In [87]:
fnames = []
w_names

PassengerId
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
9      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                   Nasser, Mrs. Nicholas (Adele Achem)
11                       Sandstrom, Miss. Marguerite Rut
12                              Bonnell, Miss. Elizabeth
15                  Vestrom, Miss. Hulda Amanda Adolfina
16                      Hewlett, Mrs. (Mary D Kingcome)
19     Vander Planke, Mrs. Julius (Emelia Maria Vande...
20                               Masselmani, Mrs. Fatima
23                           McGowan, Miss. Anna "Annie"
25                         Palsson, Miss. Torborg Danira
26     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
29                         O'Dwyer, Miss. Ellen "Nellie"
32        Spencer, Mrs. William Augustus (Marie Eugenie)
33                              Glynn, Miss. Mary Agatha
39                    Vander Planke, Miss. Augusta Maria
40                           Nicola-Yarred, Miss. Jamila
41        Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
42     Turpin, Mrs. William John Robert (Dorothy Ann ...
44              Laroche, Miss. Simonne Marie Anne Andree
45                         Devaney, Miss. Margaret Delia
48                             O'Driscoll, Miss. Bridget
50         Arnold-Franchi, Mrs. Josef (Josefine Franchi)
53              Harper, Mrs. Henry Sleeper (Myna Haxtun)
54     Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...
57                                     Rugg, Miss. Emily
59                          West, Miss. Constance Mirium
62                                   Icard, Miss. Amelie
                             ...
808                      Pettersson, Miss. Ellen Natalia
810       Chambers, Mrs. Norman Campbell (Bertha Griggs)
814                   Andersson, Miss. Ebba Iris Alfrida
817                         Heininen, Miss. Wendla Maria
821    Hays, Mrs. Charles Melville (Clara Jennings Gr...
824                                   Moor, Mrs. (Beila)
830            Stone, Mrs. George Nelson (Martha Evelyn)
831              Yasbeck, Mrs. Antoni (Selini Alexander)
836                          Compton, Miss. Sara Rebecca
843                              Serepeca, Miss. Augusta
850         Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
853                              Boulos, Miss. Nourelain
854                            Lines, Miss. Mary Conover
855        Carter, Mrs. Ernest Courtenay (Lilian Hughes)
856                           Aks, Mrs. Sam (Leah Rosen)
857           Wick, Mrs. George Dennick (Mary Hitchcock)
859                Baclini, Mrs. Solomon (Latifa Qurban)
863    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
864                    Sage, Miss. Dorothy Edith "Dolly"
866                             Bystrom, Mrs. (Karolina)
867                         Duran y More, Miss. Asuncion
872     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
875                Abelson, Mrs. Samuel (Hannah Wizosky)
876                     Najib, Miss. Adele Kiamie "Jane"
880        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
881         Shelley, Mrs. William (Imanita Parrish Hall)
883                         Dahlberg, Miss. Gerda Ulrika
886                 Rice, Mrs. William (Margaret Norton)
888                         Graham, Miss. Margaret Edith
889             Johnston, Miss. Catherine Helen "Carrie"
Name: Name, dtype: object

In [108]:
for i in w_names.index:
    if w_names[i].find('(') != -1:
        substring = w_names[i].split('(')
        substring_parts = substring[1].split(' ')[0]
        if substring_parts.find(')') != -1:
            fnames.append(substring_parts.split(')')[0])
        #else:
            #fnames.append(substring_parts)
        
fnames

Sultana
Rosa
Anna
"Mary"
Marion
Hedwig
Emma
Catherine
Mary
Farnham
Beila
Karolina